<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title></title>
  <style>
    * {
      line-height: 150%;
    }
  </style>
</head>
<div th:fragment="footer">
  <table
      style="
        overflow: hidden;
        margin: 0px auto;
        padding-top: 15px;
        width: 100%;
        max-width: 630px;
        clear: both;
        background: #6f6f6f;
        border: 0;
      "
  >
    <tbody>
    <tr>
      <td
          style="
              padding: 15px;
              line-height: 1.8;
              border-width: 0px;
              font-size: 14px;
            "
      >
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 5px"
            width="100%"
        >
          <tbody>
          <tr>
            <td
                style="
                      padding: 0px 15px;
                      line-height: 1.8;
                      -ms-text-size-adjust: 100%;
                      -webkit-text-size-adjust: 100%;
                      word-break: break-word;
                      font-size: 14px;
                      font-family: AppleSDGothic, apple sd gothic neo,
                        noto sans korean, noto sans korean regular,
                        noto sans cjk kr, noto sans cjk, nanum gothic,
                        malgun gothic, dotum, arial, helvetica, MS Gothic,
                        sans-serif !important;
                      color: #2b2d36;
                    "
                width="100%"
            >
              <div style="text-align: center">
                <img
                    width="122"
                    src="https://asset.dudoong.com/common/en-logo-white.png"
                />
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        overflow: hidden;
        margin: 0px auto;
        padding: 0px;
        max-width: 630px;
        clear: both;
        background: #6f6f6f;
        border: 0;
      "
      width="100%"
  >
    <tbody>
    <tr>
      <td style="padding: 15px; text-align: center; margin: 0 auto 0 auto">
        <div style="margin: 0 auto">
          <a
              href="https://github.com/Gosrock"
              rel="noreferrer noopener"
              style="
                  padding-right: 25px;
                  border-image: initial;
                  text-decoration: none;
                  display: inline-block;
                "
              target="_blank"
              title="깃허브"
          >
            <img
                width="24px"
                loading="lazy"
                src="https://asset.dudoong.com/common/Github.png"
            /></a>
          <a
              href="https://instagram.com/dudoong_official"
              rel="noreferrer noopener"
              style="
                  padding-right: 25px;
                  border-image: initial;
                  text-decoration: none;
                  display: inline-block;
                "
              target="_blank"
              title="인스타그램"
          ><img
              width="24px"
              loading="lazy"
              src="https://asset.dudoong.com/common/Instagram.png"
          /> </a
          ><a
            href="http://pf.kakao.com/_xiaLWxj"
            rel="noreferrer noopener"
            style="
                  padding: 0px 0px;
                  border-image: initial;
                  text-decoration: none;
                  display: inline-block;
                "
            target="_blank"
            title="카카오톡 채널"
        ><img
            width="24px"
            loading="lazy"
            src="https://asset.dudoong.com/common/Kakao.png"
        />
        </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        overflow: hidden;
        margin: 0px auto;
        padding: 0px;
        width: 100%;
        max-width: 630px;
        clear: both;
        background: #6f6f6f;
        border: 0;
      "
      width="100%"
  >
    <tbody>
    <tr>
      <td
          style="
              padding: 15px;
              line-height: 1.8;
              border-width: 0px;
              font-size: 14px;
            "
      >
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 5px"
            width="100%"
        >
          <tbody>
          <tr>
            <td
                style="
                      padding: 0px 15px;
                      mso-line-height-rule: exactly;
                      line-height: 1.8;
                      -ms-text-size-adjust: 100%;
                      -webkit-text-size-adjust: 100%;
                      word-break: break-word;
                      font-size: 12px;
                      font-family: AppleSDGothic, apple sd gothic neo,
                        noto sans korean, noto sans korean regular,
                        noto sans cjk kr, noto sans cjk, nanum gothic,
                        malgun gothic, dotum, arial, helvetica, MS Gothic,
                        sans-serif !important;
                      color: #2b2d36;
                    "
                width="100%"
            >
              <div style="text-align: center ; color: #B6B7B8;" >
                <div>
                  두둥스튜디오 | 서울시 강서구 강서로 266 129동 503호
                </div>
                <div>
                  대표 : 이찬진 | TEL : 0507-0177-0711 | Email :
                  support@dudoong.com
                </div>
                <div>
                  사업자 번호 : 469-21-01595 | 통신판매업 신고번호 :
                  2022-서울강서-3669
                </div>
                <br/>
                <div>
                  © Dudoong. All rights reserved
                </div>
                <br/>

                <div style="font-size: 10px; color: rgb(82, 84, 99)"
                ><a
                    href="https://dudoong.com"
                    rel="noreferrer noopener"
                    style="
                              text-decoration: underline;
                              color: rgb(82, 84, 99);
                              display: inline;
                            "
                    target="_blank"
                >수신거부</a
                ></div
                >
              </div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</html>
