<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title></title>
  <style>
    * {
      line-height: 150%;
    }
  </style>
</head>
<div th:fragment="header">
  <table
      style="
        overflow: hidden;
        margin: 0px auto;
        width: 100%;
        max-width: 630px;
        clear: both;
        background: none;
        border: 0;
      "
  >
    <tbody>
    <tr>
      <td
          style="
              line-height: 1.8;
              border-width: 0px;
              font-size: 14px;
            "
      >
        <table
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="padding: 0px 5px"
            width="100%"
        >
          <tbody>
          <tr>
            <td
                style="
                      padding: 0px 15px;
                      line-height: 1.8;
                      -ms-text-size-adjust: 100%;
                      -webkit-text-size-adjust: 100%;
                      word-break: break-word;
                      font-size: 14px;
                      font-family: AppleSDGothic, apple sd gothic neo,
                        noto sans korean, noto sans korean regular,
                        noto sans cjk kr, noto sans cjk, nanum gothic,
                        malgun gothic, dotum, arial, helvetica, MS Gothic,
                        sans-serif !important;
                      color: #2b2d36;
                    "
                width="100%"
            >
              <div style="text-align: center; padding: 25px">
                <img
                    width="244"
                    src="https://asset.dudoong.com/common/en-banner-black.png"
                />
              </div>
            </td>
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>
        <div style="background: #C7C7CB ; height: 1px; margin-bottom: 20px" ></div>
      </td>
    </tr>
    </tbody>
  </table>
</div>