<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title></title>
  <style>
    * {
      line-height: 150%;
    }
  </style>
</head>
<div th:fragment="header">
  <div style="text-align: center; padding: 25px">
    <img
        width="244"
        src="https://asset.dudoong.com/common/en-banner-black.png"
    />
  </div>
  <div style="background: #c7c7cb; height: 1px; margin-bottom: 20px"></div>
</div>
</html>
